.button.default, input[type=submit].default, .submit-row input.default {
    float: left;
    border: none;
    font-weight: 400;
    background: #417690;
}

.submit-row {
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: left;
    overflow: hidden;
}
