.button.default, input[type=submit].default, .submit-row input.default {
    float: left;
    border: none;
    font-weight: 400;
    background: #417690;
}

.submit-row {
	padding: 12px 14px 12px;
	margin: 0 0 20px;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.download-row {
	padding: 12px 14px 12px;
	margin: 0 0 20px;
	border-radius: 4px;
	overflow: hidden;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: right;
}

.download-button{
	float: left;
	border: none;
	font-weight: 400;
	background: #417690;
}